<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
   
 <!--nav bar start-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="topnav" id="myTopnav">
   <a href="#" class="active">TEAM NAME</a>
   <a href="index.html">Prediction</a>
   <a href="portfolio.html">Portfolio</a>
   <a href="poster.html">Poster</a>
   <a href="contact.html">Contact</a>
 
 </div>

 <div style="position: absolute;top: 20%;height:400px;height:auto;width: 100%;;background-color: rgba(0,0,0,0.7);">
  <span class="row">
    <div class="column">
      <img src="https://i.ibb.co/qrpmBhQ/a1-IMG-4871.jpg" style="border-radius: 50% ;width: 240px;height: 240px;">
      <h4>Fady Sabry</h4>
      <a href="mailto:"  target="_blank"> <img src="https://i.ibb.co/1mpfx22/email.png" style="width: 32px;height: 32px;"></a>
      <a href="tel:" target="_blank"> <img src="https://i.ibb.co/ZcZzytj/phone-call.png" style="width: 32px;height: 32px;"></a>
    </div>
    <div class="column">
      <img src="https://i.ibb.co/4R912sj/a20191208-202803.jpg" style="border-radius: 50% ;width: 240px;height: 240px;">
      <h4>Hazem Dahi</h4>
      <a href="mailto:"  target="_blank"> <img src="https://i.ibb.co/1mpfx22/email.png" style="width: 32px;height: 32px;"></a>
      <a href="tel:" target="_blank"> <img src="https://i.ibb.co/ZcZzytj/phone-call.png" style="width: 32px;height: 32px;"></a>  </div>
    <div class="column">
      <img src="https://i.ibb.co/7rHrTvp/a20191211-123520.jpg" style="border-radius: 50% ;width: 240px;height: 240px;">
      <h4>Fady Sabry</h4>
      <a href="mailto:"  target="_blank"> <img src="https://i.ibb.co/1mpfx22/email.png" style="width: 32px;height: 32px;"></a>
      <a href="tel:" target="_blank"> <img src="https://i.ibb.co/ZcZzytj/phone-call.png" style="width: 32px;height: 32px;"></a>
  
    </div>
  </span>
  </div> 
</body>
</html>