<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
   
 <!--nav bar start-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="topnav" id="myTopnav">
   <a href="#" class="active">TEAM NAME</a>
   <a href="index.html">Prediction</a>
   <a href="portfolio.html">Portfolio</a>
   <a href="poster.html">Poster</a>
   <a href="contact.html">Contact</a>
 
 </div>

 <iframe src="https://drive.google.com/file/d/1JVY4ti_Sa8mvntJcidTgOwfqKBjMTQtX/preview" width="100%" height="100%"></iframe>

</body>
</html>